@model CableWebApi.Models.BillDetailsModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BillDetailsModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoBox)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoBox)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SetupBoxBill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SetupBoxBill)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mbno1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mbno1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthCharge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthCharge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CGSTPer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CGSTPer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CGSTAmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CGSTAmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SGSTPer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SGSTPer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SGSTAmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SGSTAmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrandTot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrandTot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OldBal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OldBal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayableAmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayableAmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dtfrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dtfrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidAmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidAmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidAmt1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidAmt1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayDate1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayDate1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CashDet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CashDet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayStat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayStat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccNoBox)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccNoBox)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PackageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PackageName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
